<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <h1>맛집 공유</h1>
    <p>
        {{inputContent}} <br>
        발신자님께서 공유하신 맛집은 다음과 같습니다.
    </p>


    {% for restaurant in restaurants %}
    <h2>{{restaurant.restaurant_name}}</h2>
    <h3>{{restaurant.restaurant_link}}</h3>
    <h4>{{restaurant.restaurant_content}}</h4>
    <h5>{{restaurant.restaurant_keyword}}</h5>
    {% endfor %}

</body>
</html>